{% extends 'base2.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Querry by State
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Querry by Station
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
    </div>
  </div>
</nav>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col-lg-12 mb-8 order-0">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div>
                <div class="card-body">
                  <h5 class="card-title text-primary">Welcome to our</h5>
                  <p style="text-align: justify;">
                    Malaria Surveillance System, a cutting-edge platform dedicated to the real-time monitoring and
                    tracking of malaria incidents worldwide. Leveraging advanced data analytics and collaborative
                    efforts, our system aims to empower healthcare professionals, policymakers, and communities in
                    their fight against this deadly disease. Together, let's make strides towards a malaria-free
                    world.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <hr>
        <div class="col-lg-8 mb-4 order-0">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div>
                <div class="card-body">
                  <h5 class="card-title text-primary">Malaria Map</h5>
                  <div id="mapid" style="height: 400px;"></div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 order-1">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <span class="fw-semibold d-block mb-1">Total Stations</span>
                  <h3 class="card-title mb-2">{{stations}}</h3>
                  <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>0</small>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
              <div class="card">
                <div class="card-body">

                  <span class="fw-semibold d-block mb-1">Malaria Campaigns</span>
                  <h3 class="card-title text-nowrap mb-1">{{campaigns}}</h3>
                  <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>0</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Total Revenue -->
        <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
          <div class="card">
            <div class="row row-bordered g-0">
              <div class="col-md-12">
                <h5 class="card-header m-0 me-2 pb-3">Malaria Cases by Months</h5>
                <div id="totalRevenueChart" class="px-2"></div>
              </div>

            </div>
          </div>
        </div>
        <!--/ Total Revenue -->
        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
          <div class="row">
            <div class="col-6 mb-4">
              <div class="card">
                <div class="card-body">

                  <span class="d-block mb-1">Patient Tested</span>
                  <h3 class="card-title text-nowrap mb-2">{{pat_count}}</h3>
                  <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>0</small>
                </div>
              </div>
            </div>
            <div class="col-6 mb-4">
              <div class="card">
                <div class="card-body">

                  <span class="fw-semibold d-block mb-1">Positive Cases</span>
                  <h3 class="card-title mb-2">{{pos_cases}}</h3>
                  <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> 0</small>
                </div>
              </div>
            </div>
            <!-- </div>
    <div class="row"> -->
            <div class="col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                    <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                      <div class="card-title">
                        <h5 class="text-nowrap mb-2">Yearly Malaria Profile</h5>
                        <span class="badge bg-label-warning rounded-pill">Year 2023</span>
                      </div>
                      <div class="mt-sm-auto">
                        <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i>0</small>
                        <h3 class="mb-0">0</h3>
                      </div>
                    </div>
                    <div id="profileReportChart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  var mymap = L.map('mapid').setView([9.0820, 8.6753], 6);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(mymap);
</script>

<script>
  var markers = JSON.parse('{{ markers_json|escapejs|safe }}');


  for (var i = 0; i < markers.length; i++) {
    var marker = L.marker(markers[i].location).addTo(mymap);
    marker.bindPopup(markers[i].popup);
}

</script>

<!-- / Content -->
{% endblock content %}