{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-semibold py-3 mb-4"><span class="text-muted fw-light">Welcome To /</span>Dashboard</h4>

    <!-- Toast with Placements -->
    <div class="bs-toast toast toast-placement-ex m-2" role="alert" aria-live="assertive" aria-atomic="true"
      data-delay="2000">
    </div>
    <!-- Content -->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-cog"></i>
              Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'household' pat_id.id %}"><i
                class='bx bxs-building-house'></i>Household</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-prevention' pat_id.id %}"><i class="bx bx-list-check"></i> Prevention
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-diagnosis' pat_id.id %}"><i class="bx bx-list-ul"></i>Diagnosis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-treatment' pat_id.id %}"><i class="bx bxs-offer"></i>Treatment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-morbidity' pat_id.id %}"><i class="bx bxs-bolt"></i> Morbidity
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-mortality' pat_id.id %}"><i class="bx bx-power-off"></i> Mortality
            </a>
          </li>
        </ul>
        <!-- Basic Bootstrap Table -->
        <div class="card">
          <h5 class="card-header">Profile & Health History</h5>
          <div class="card-body">
            <div class="row">

              <div class="mb-3 col-md-6">
                <label for="AName" class="form-label">Patient Name</label>
                <input class="form-control" value="{{ patient.name }}" type="text" id="AName" name="AName" required
                  readonly />
              </div>
              <div class="mb-3 col-md-6">
                <label for="age" class="form-label">Patient Gender</label>
                <input class="form-control" type="text" name="age" value="{{ patient.gender }}" id="age" maxlength="2"
                  required readonly />
              </div>
              <div class="mb-6 col-md-12">
                <label for="mdcc" class="form-label">Patient Adress</label>
                <textarea class="form-control" id="mdcc" rows="3" name="mdcc" readonly>{{ patient.address }}</textarea>
              </div>
              <div class="mb-3 col-md-6">
                <label for="address" class="form-label">Care Centre</label>
                <input class="form-control" type="text" id="address" value="{{ patient.care_centre }}" name="address"
                  required readonly />
              </div>

              <div class="mb-3 col-md-6">
                <label for="IdNum" class="form-label">Family Size</label>
                <input type="text" class="form-control" value="{{ household.family_size }}" id="IdNum" name="IdNum"
                  required readonly />
              </div>

              <div class="mb-3 col-md-6">
                <label for="IdNum" class="form-label">Number of Children</label>
                <input type="text" class="form-control" value="{{ household.no_of_children }}" id="IdNum" name="IdNum"
                  required readonly />
              </div>
              <div class="mb-3 col-md-6">
                <label for="IdNum" class="form-label">Type of Drainage System</label>
                <input type="text" class="form-control" value="{{ household.drainage_system }}" id="IdNum" name="IdNum"
                  required readonly />
              </div>
              <div class="mb-3 col-md-6">
                <label for="IdNum" class="form-label">Type of Drainage System</label>
                <input type="text" class="form-control" value="{{ household.sleeping_in_screen }}" id="IdNum"
                  name="IdNum" required readonly />
              </div>
              <div class="mb-3 col-md-6">
                <label for="NName" class="form-label">Date Registered</label>
                <input type="text" class="form-control" id="NName" value="{{ patient.opening_date }}" name="NName"
                  required readonly />
              </div>

            </div>
          </div>
          <h5 class="card-header" style="color: blue;">History of Preventive Measures</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Date Reported</th>
                  <th>Use of mosquito Net</th>
                  <th>Use of Insecticide</th>
                  <th>Use of Repellant</th>
                  <th>Indoor Residual</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for p in prevention %}
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{p.date_reported}}</strong>
                  </td>
                  <td>
                    {{p.use_of_mosquito_net}}
                  </td>
                  <td>
                    {{p.use_of_insecticide}}
                  </td>
                  <td>
                    {{p.use_of_repellant}}
                  </td>
                  <td>
                    {{p.indoor_residual}}
                  </td>

                  <!--
                      <td>
                          <a href="#" class="btn btn-primary me-2">Update
                              Profile</a>
                      </td>
                      -->
                  {% endfor %}
              </tbody>
            </table>
          </div>


          <h5 class="card-header" style="color: blue;">History of Malaria Diagnosis</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Date Diagnosed</th>
                  <th>Mode of Diagnosis</th>
                  <th>Type of Diagnosis</th>
                  <th>Result</th>
                  <th>Malaria Type</th>
                  <th>Parasitemia Load</th>
                  <th>Comment</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for d in diagnosis %}
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{d.date_created}}</strong>
                  </td>
                  <td>
                    {{d.mode_of_diagnosis}}
                  </td>
                  <td>
                    {{d.dianosis_type}}
                  </td>
                  <td>
                    {{d.results}}
                  </td>
                  <td>
                    {{d.malaria_type}}
                  </td>
                  <td>
                    {{d.parasitemia_load}}
                  </td>
                  <td>
                    {{d.comment}}
                  </td>
                  <!--
                      <td>
                          <a href="#" class="btn btn-primary me-2">Update
                              Profile</a>
                      </td>
                      -->
                  {% endfor %}
              </tbody>
            </table>
          </div>

          <h5 class="card-header" style="color: blue;">History of Malaria Treatment</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Date Treated</th>
                  <th>Type of Treatment</th>
                  <th>Treatment Period</th>
                  <th>Follow-Up Diagnosis</th>
                  <th>Further Treatment</th>
                  <th>Comment</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for t in treatment %}
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{t.date_created}}</strong>
                  </td>
                  <td>
                    {{t.treatment_type}}
                  </td>
                  <td>
                    {{t.treatment_period}}
                  </td>
                  <td>
                    {{t.follow_up}}
                  </td>
                  <td>
                    {{t.further_treatment}}
                  </td>
                  <td>
                    {{t.comment}}
                  </td>
                  <!--
                      <td>
                          <a href="#" class="btn btn-primary me-2">Update
                              Profile</a>
                      </td>
                      -->
                  {% endfor %}
              </tbody>
            </table>
          </div>

          <h5 class="card-header" style="color: blue;">History of Morbidity</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Date Reported</th>
                  <th>Severity</th>
                  <th>Mode of Admission</th>
                  <th>Comment</th>

                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for m in morbidity %}
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{m.date_created}}</strong>
                  </td>
                  <td>
                    {{m.severity}}
                  </td>
                  <td>
                    {{m.mode_of_admission}}
                  </td>
                  <td>
                    {{m.comment}}
                  </td>

                  <!--
                      <td>
                          <a href="#" class="btn btn-primary me-2">Update
                              Profile</a>
                      </td>
                      -->
                  {% endfor %}
              </tbody>
            </table>
          </div>

          <h5 class="card-header" style="color: blue;">History of Mortality</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Date Reported</th>
                  <th>Mortality Status</th>
                  <th>Data of Mortality</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for m in mortality %}
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{m.date_created}}</strong>
                  </td>
                  <td>
                    {{m.status}}
                  </td>
                  <td>
                    {{m.date}}
                  </td>

                  <!--
                      <td>
                          <a href="#" class="btn btn-primary me-2">Update
                              Profile</a>
                      </td>
                      -->
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}