{% extends 'base.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Manage</span> Stations</h4>
        <!-- Toast with Placements -->
        <div class="bs-toast toast toast-placement-ex m-2" role="alert" aria-live="assertive" aria-atomic="true"
            data-delay="2000">
        </div>
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin-dash' %}"><i class="bx bxl-telegram me-1"></i>
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'station-list' %}"><i class="bx bx-list-ul"></i>
                          List of Stations</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-user' %}"><i class='bx bx-add-to-queue'></i> Add a New
                            User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="bx bxs-building-house"></i> Add a New
                            Station
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-list' %}"><i class="bx bx-list-ul"></i>
                            List of Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'camp-list' %}"><i class="bx bx-home-smile"></i> Campaigns
                        </a>
                    </li>
                </ul>

                <div class="card mb-4">
                    <h5 class="card-header">Add Station</h5>
                    <!-- Account -->

                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <form method="POST" action="{% url 'addStation' %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->

            </div>
        </div>
    </div>
</div>
<!--
<script>
    // JavaScript code to fetch and populate the gis_location field
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            document.getElementById('id_gis_location').value = latitude + ',' + longitude;
        });
    }
</script>
-->
<!-- / Content -->
{% endblock content %}