{% extends 'base2.html' %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-semibold py-3 mb-4"><span class="text-muted fw-light">Welcome To /</span> {{ station.name }}'s Activities</h4>

        <!-- Toast with Placements -->
        <div class="bs-toast toast toast-placement-ex m-2" role="alert" aria-live="assertive" aria-atomic="true"
            data-delay="2000">
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <!-- First 4-col div -->
                <div class="col-lg-6 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <span class="fw-semibold d-block mb-1">Total Patient</span>
                            <h3 class="card-title mb-2">{{patients_count}}</h3>
                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>0</small>
                        </div>
                    </div>
                </div>
                <!-- Second 4-col div -->
                <div class="col-lg-6 col-md-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <span class="fw-semibold d-block mb-1">Total Positive</span>
                            <h3 class="card-title mb-2">{{positive_cases}}</h3>
                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>0</small>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
                
        <!-- Content -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>
                            Profile</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"><i class="bx bx-log-out"></i>
                            Back to Home</a>
                    </li>

                </ul>
                <div class="card">
                    <h5 class="card-header">Daily Malaria Test</h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Total Diagnosis</th>
                                    <th>Total Positive</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                {% for daily_count in page_obj %}
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                        <strong>{{ daily_count.day }}/{{ daily_count.month }}/{{ daily_count.year }}</strong>
                                    </td>
                                    <td>{{daily_count.total_count}}</td>
                                    <td>{{daily_count.positive_count}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">&raquo; last</a>
                            {% endif %}
                        </span>
                    </div>                    
                </div>
                <!-- Basic Bootstrap Table -->
                <div class="card">
                    <h5 class="card-header">Profile</h5>
                    <div class="card-body">
                        <div class="row">

                            <div class="mb-3 col-md-6">
                                <label for="AName" class="form-label">Station Name</label>
                                <input class="form-control" value="{{ station.name }}" type="text" id="AName"
                                    name="AName" required readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="age" class="form-label">Station Category</label>
                                <input class="form-control" type="text" name="age" value="{{ station.category }}"
                                    id="age" maxlength="2" required readonly />
                            </div>
                            <div class="mb-6 col-md-12">
                                <label for="mdcc" class="form-label">Station Adress</label>
                                <textarea class="form-control" id="mdcc" rows="3" name="mdcc"
                                    readonly>{{ station.address }}</textarea>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="address" class="form-label">GIS Coordinate</label>
                                <input class="form-control" type="text" id="address" value="{{ station.gis_location }}"
                                    name="address" required readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="NName" class="form-label">Station Supervisor</label>
                                <input type="text" class="form-control" id="NName" value="{{ station.supervisor }}"
                                    name="NName" required readonly />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text">NG (+234)</span>
                                    <input type="number" id="phoneNumber" name="phoneNumber" class="form-control"
                                        placeholder="07019575268" value="{{ station.phone}}" required readonly />
                                </div>
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="IdNum" class="form-label">E-Mail Address</label>
                                <input type="text" class="form-control" value="{{ station.email }}" id="IdNum"
                                    name="IdNum" required readonly />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}